<header class="site-header">
        <div class="wrapper" style="padding-left: 0; padding-right: 0;position: unset;">
          <nav class="site-nav" style="position: unset !important; line-height: 30px;">
              <div class="topnav" id="topNavId">
                  <a href="{{ site.baseurl | prepend: site.url }}/"><strong>Giang </strong>Pham</a>
                  <div class="dropdown">
                    <div class="dropbtn" style="color: #666;">Blogs 
                      <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="dropdown-content">
                        <a href="{{ '/blogs/dot-net' | prepend: site.baseurl | prepend: site.url }}">.Net/.Net Core</a>
                        <a href="{{ '/blogs/csharp-coding' | prepend: site.baseurl | prepend: site.url }}">C# Coding</a>
                        <a href="{{ '/blogs/microsoft-azure' | prepend: site.baseurl | prepend: site.url }}">Microsoft Azure</a>
                        <a href="{{ '/blogs/software-design' | prepend: site.baseurl | prepend: site.url }}">Sofware Design</a>
                        <a href="{{ '/blogs/microsoft-sql-server' | prepend: site.baseurl | prepend: site.url }}">Microsoft SQL Server</a>
                        <a href="{{ '/blogs/ci-and-git' | prepend: site.baseurl | prepend: site.url }}">CI and Git</a>
                        <a href="#">Data Warehousing</a>
                        <a href="#">Big Data</a>
                    </div>
                  </div>
                  <div class="dropdown">
                        <div class="dropbtn" style="color: #666;">Projects 
                                <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-content">
                                <a href="#">GitHub Repo 1</a>
                                <a href="#">GitHub Repo 2</a>
                                <a href="#">GitHub Repo 3</a>
                                <a href="#">GitHub Repo 4</a>
                                <a href="#">GitHub Repo 5</a>
                        </div>
                  </div>
                  <a href="#">Channels</a>
                  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
                </div>
                <script>
                function myFunction() {
                    var x = document.getElementById("topNavId");
                    if (x.className === "topnav") {
                        x.className += " responsive";
                    } else {
                        x.className = "topnav";
                    }
                }
                document.addEventListener('touchstart', function addtouchclass(e){ // first time user touches the screen
                    document.documentElement.getElementsByClassName('dropdown').add('can-touch') // add "can-touch" class to document root using classList API
                    document.removeEventListener('touchstart', addtouchclass, false) // de-register touchstart event
                }, false)

                </script>
            <!-- end nav-->
          </nav>
        </div>
      </header>
      