@charset "UTF-8";

// Parameters

$menuColor:#AFF8C4;
$subMenuColor:#EEEEEE;//#9CE0C9;
$fontColor: #0E0500;
$menuWidth:940px;
$backgroundColor:#FFFCF6;
$borderRadius:4px;
$duration:0.33s;

.site-header {
    border-bottom: 1px solid $grey-color-light;
    background-color: #fff;
    opacity: 0.95;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    z-index: 50;
}

.site-title {
    font-size: 20px;
    line-height: $nav-height;
    letter-spacing: -1px;
    margin-bottom: 0;
}
.site-nav {
    float: right;
    //line-height: $nav-height;
    
    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }
    
    .page-link{
        line-height: $line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
    // added for hamburger
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $horizontal-spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg path {
                fill: $grey-color-dark;
            }
        }

        input ~ .trigger {
            clear: both;
            display: none;
        }

        input:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 10px;
        }
    }
}

.header-bar{
    border-bottom: 1px solid $light-gray;
    font-size: 20px;
    display: block;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: $space-4;
    line-height: 3em;
    z-index: 25;
    h1{
        color: $theme-color;
        font-size:75px;
    }
    h2{
        font-size:25px;
    }
}

// Fixed navbar with scrollable
.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #666;
    opacity: 1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
      float: left;
      overflow: hidden;
  }
  
  .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      padding:  14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      cursor: pointer;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #eee;
      min-width: 100%;
      //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 999999;
      left: 0;
      text-align: center;
      overflow-y: auto;
  }
  
  .dropdown-content a {
      float: none;
      color: #666;
      padding: 12px 16px;
      text-decoration: none;
      display: inline-block;
      text-align: left;
      z-index: 999999;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #eee;
    color: #B509AC;
  }
  
  .dropdown-content a:hover {
      background-color: #eee;
      color: #B509AC;
  }
  
  .can-touch, .dropdown:hover .dropdown-content {
      display: block;
  }
  
  .can-touch{
    display: block;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }